---
import Layout from "@layouts/Layout.astro";
import { authenticate } from "@utils/auth";
import db from "@database";
import UnfulfilledOrders from "@components/UnfulfilledOrders";
import HoursLog from "@components/HoursLog";
import AddHoursForm from "@components/AddHoursForm"
import type { Order as OrderModel } from "@data/types/order";
import type {Hours} from "@data/types/hours"

const account = authenticate(Astro.cookies)

const orders = await db.Order.findAll({
  where: {
    status: 'purchased',
  },
  order: [["createdAt", "ASC"]],
  include: [
    {
      model: db.OrderProduct,
      include: [
        db.Product,
        {
          model: db.OrderProductIngredient,
          include: [
            {
              model: db.Ingredient,
            },
          ],
        },
      ],
    },
  ],
});

const hours = await db.Hours.findAll({
  order: [["createdAt", "ASC"]],
  where: {accountId: account.id}
});

if (!account || account.role === 'user')
  return Astro.redirect('/404')
---

<Layout title='Employee'>
  <div class='max-w-[1024px]'>
    <h2 class="text-4xl mt-6 mb-2">
      Hey there, {account.username}! Welcome to the employee page.
    </h2>
    <HoursLog client:idle hours={hours.map(o => o.get({ plain: true })) as unknown as Array<Hours>} />
    <AddHoursForm  client:idle />
    <UnfulfilledOrders client:idle orders={orders.map(o => o.get({ plain: true })) as unknown as Array<OrderModel>} />
  </div>
  
</Layout>
