---
import Layout from "@layouts/Layout.astro";
import { authenticate } from "@utils/auth";

const account = authenticate(Astro.cookies)

if (!account || account.role === 'user')
  return Astro.redirect('/404')
---

<Layout title='Admin'>
  <h2 class='text-4xl'>Welcome to the secret employee page.</h2>
</Layout>
