---
import DrinkCard from "@components/DrinkCard.astro";
import getProducts from "@data/api/products/get";
import { authenticate } from "@utils/auth";
import Layout from "../layouts/Layout.astro";
import Carousel from '@components/Carousel';

const account = authenticate(Astro.cookies);

const drinks = (await getProducts()).slice(0, 2)
---

<Layout title="">
  <main class='flex flex-col items-center'>

    <Carousel client:idle />

    {account ? (
      <h3 class='text-6xl mb-4'>Featured Drinks</h3>
      <div class="flex flex-wrap items-center justify-center w-full gap-8">
        {drinks.map(drink => (
          <DrinkCard drink={drink} tag="Featured" />
        ))}
      </div>
    ) : (
      <div>
        <h3 class='text-2xl'><a class='underline text-gray-800 hover:text-gray-600' href='/signin'>Sign in</a> or <a class='underline text-gray-800 hover:text-gray-600' href='/signup'>create an account</a> to view the menu!</h3>  
      </div>
    )}
    
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
