---
import SignInForm from '@components/SignInForm'
import Layout from '@layouts/Layout.astro';
import { authenticate } from '@utils/auth';

const account = authenticate(Astro.cookies)
if (account)
  return Astro.redirect('/account')
---

<Layout title='Login'>
  <div class='w-full md:w-[50%]'>
    <h1>Sign In</h1>
    <SignInForm client:idle />
  </div>
</Layout>
