---
import Layout from "@layouts/Layout.astro";
import SignUpForm from '@components/SignUpForm'
import { authenticate } from '@utils/auth';

const account = authenticate(Astro.request)
if (account)
  return Astro.redirect('/account')
---

<Layout title='Sign Up'>
  <div class='w-full md:w-[50%]'>
    <h1>Sign Up</h1>
    <SignUpForm client:idle />
  <div>
</Layout>
