---
import getIngredients from "@data/api/ingredients";
import { getProduct } from "@data/api/products/get";
import Layout from "@layouts/Layout.astro";
import DrinkCustomization from "@components/DrinkCustomization";
import { authenticate } from "@utils/auth";

const { id } = Astro.params as { id: number };
const account = authenticate(Astro.cookies);
if (!account) return Astro.redirect("/signin");
const product = await getProduct(id);
if (!product) return Astro.redirect("/404");

const allIngredients = await getIngredients({ hidden: false });
---

<Layout>
  <h1>{product.name}</h1>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="scale-100">
      <img src={product.imageUrl} alt="Drink" class="rounded-md scale-100" />
    </div>
    <DrinkCustomization
      client:load
      allIngredients={allIngredients}
      product={product}
    />
  </div>
</Layout>
