---
import getIngredients from "@data/api/ingredients";
import { getProduct } from "@data/api/products/get";
import Layout from "@layouts/Layout.astro";

const { id } = Astro.params as { id: number };
const product = await getProduct(id);
if (!product) return Astro.redirect("/404");

const allIngredients = await getIngredients();
---

<Layout>
  <h1>{product.name}</h1>
  <div class="flex flex-col md:flex-row">
    <div class="scale-100">
      <img src={product.imageUrl} alt="Drink" class="rounded-md scale-100" />
    </div>
    <div>
      {product.ProductIngredients.map((i) => i.Ingredient.name).join(", ")}
      <select class='text-black'>
        {allIngredients.map((i) => <option value={i.id}>{i.name}</option>)}
      </select>
    </div>
  </div>
</Layout>
